.mtg-card {
    height: 173px;
    width: 125px;
    background-size: cover;
    border-radius: 5px;
}

.mtg-card:hover {
    box-shadow: 0 0 10px #c8b472;
}

.mtg-card-side {
    height: 173px !important;
    width: 125px !important;
    background-size: cover;
    border-radius: 5px;
}

#hand-container {
    height: 200px;
    overflow-x: auto;
}

.ui-background {
    background-image: url("../img/playbg1.png");
    color: #c8b472;
}

.mana-pool-counter {
    position: relative;
    color: white;
    left: 10px;
    top: -25px;
}

#table {
    background-image: url("http://i.imgur.com/1UjtE9j.jpg");
    background-size: cover;
    position: relative;
    height: calc(100vh - 228px - 56px);
    border: 1px solid black;
}

#graveyard-placeholder,
#exile-placeholder,
#sideboard-placeholder,
#library-placeholder {
    width: 125px;
    height: 172px;
}

#graveyard-title,
#exile-title,
#sideboard-title,
#library-title,
#custom-counter-label {
    cursor: pointer;
}

#hand {
    height: 172px;
}

.card-placeholder {
    border: 1px dotted #c8b472;
    border-radius: 5px;
}

body {
    background-image: url("../img/playbg1.png");
}

.popover-body {
    overflow-y: auto;
}

.counter {
    /* position: relative;
    top: 30px;
    left: 30px; */
    color: #c8b472;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
}

.row-mana {
	padding-right: 20px;
}

#show-deck-modal {
    position: absolute;
    right: 0px;
}

#helpModal .modal-content, #aboutModal .modal-content {
    background-image: url("../img/playbg1.png");
    color: #c8b472;    
}

.mtg-card-token-name {
    color: #ffeb87;
    display: flex;
    justify-content: center;
    font-family: Magic;
    font-size: x-small;
    position: relative;
    top: 8px;
}

.mtg-card-token-rules {
    display: flex;
    justify-content: center;
    position: relative;
    top: 105px;
    font-family: Magic;
}

.mtg-card-token-powerToughness {
    position: relative;
    top: 101px;
    left: 102px;
    font-family: Magic;
    font-size: x-small;
}

.mtg-card-token-type {
    position: relative;
    top: 102px;
    left: 58px;
    font-family: Magic;
    font-size: xx-small;
}

@font-face {
    font-family: Magic;
    src: url('../font/MAGIC.TTF'); 
}