.mtg-card {
    height: 173px;
    width: 125px;
    background-size: cover;
    border-radius: 5px;
}

.mtg-card:hover {
    box-shadow: 0 0 10px #c8b472;
}

.mtg-card-side {
    height: 173px !important;
    width: 125px !important;
    background-size: cover;
    border-radius: 5px;
}

#hand-container {
    height: 200px;
    overflow-x: auto;
}

#placeholder-row {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    color: #c8b472;
}

#state-col {
    color: #c8b472;
}

.mana-pool-counter {
    position: relative;
    color: white;
    left: 10px;
    top: -25px;
}

#table {
    height: calc(100vh - 228px);
}

#graveyard-placeholder,
#exile-placeholder,
#sideboard-placeholder,
#library-placeholder {
    width: 125px;
    height: 172px;
}

#graveyard-title,
#exile-title,
#sideboard-title,
#library-title,
#hand-title,
#custom-counter-label {
    cursor: pointer;
}

#hand-placeholder {
    height: 172px;
}

.card-placeholder {
    border: 1px dotted #c8b472;
    border-radius: 5px;
}

body {
    background-image: url("../img/playmat.webp");
    background-size: cover;
}

.popover-body {
    overflow-y: auto;
}

.counter {
    color: #c8b472;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
}

.row-mana {
	padding-right: 20px;
}

#helpModal .modal-content,
#aboutModal .modal-content,
#zoneModal .modal-content {
    background-image: url("../img/playbg1.png");
    color: #c8b472;
}

.marked {
    border: 3px solid #c8b472;
}

.handle {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 10;
    right: 0px;
}